{% extends 'base.html' %}
{% block tittle %}About{% endblock tittle %}

{% block css %} 
.container {
  margin-top: 40mm;
  justify-content: center;
  align-items: center; 
}

.text{
    color: white;
    font-size: large;
    font-weight: bolder;
}

{% endblock %}
{% block body %}

<div class="card bg-dark text-white">
    <div class="card-img-overlay">
        <div class="container text-center">
            <h1 class="card-title align-self-xl-center">About us</h1>
      <p class="text">Weber is an online E-Book website which helps you to access all possible E-books from our online library. 
      </br>IF you require a apecific book or any other query related to our service please reach us through contact page.</p>
      <h2>
        <a href="" class="typewrite" style="color: antiquewhite;" data-period="1000" data-type='["Currently we are growing up with {{subcount}} subscribers", 
        "Our library is currently packed with {{bookcount}} books ready to read and download","Categorized into 6 types ","{{comiccount}} Comic", "{{novelcount}} Novel", "{{storycount}} Story", "{{autocount}} Autobiography",
         "{{educount}} Educational", "{{motcount}} Motivational", "So hurry up download your choice book from our E-library Now"]'>
          <span class="wrap"></span>
        </a>
      </h2>
      <p class="text">Note: This website is an demo project for educational puropse only. </br>
        Experimental project deveoped by shubham samanta </p>
        <img src="static/owner-developer.jpg" class="rounded-circle" alt="...">
            <h1 class="card-title align-self-xl-center">Developer / Project Owner</h1>
        </div>
      
    </div>
  </div>
  <script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
  </script>
{% endblock body %}