{% extends 'base.html' %}
{% block tittle %}Home{% endblock tittle %}
{% block css %} 
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

{% endblock %}
{% block body %}
<div class="card-img-overlay my-5">
  <div style="clear: both;">
  <h2 style="color: antiquewhite; float: left;">List of all Comic books availble currently:</h2>
  <div class="dropdown" style="float: right;">
    <a class="btn btn-secondary dropdown-toggle" href="/home1" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Comics
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="/home">All</a></li>
      <li><a class="dropdown-item" href="/home2">Novel</a></li>
      <li><a class="dropdown-item" href="/home3">Story</a></li>
      <li><a class="dropdown-item" href="/home4">Autobiography</a></li>
      <li><a class="dropdown-item" href="/home5">Educational</a></li>
      <li><a class="dropdown-item" href="/home6">Motivational</a></li>  
    </ul>
  </div>
  <h3 style="color: antiquewhite; float:right;">Category:&nbsp;</h3>
  </div>
  <hr style="width:100%;text-align:left;margin-left:0; color:antiquewhite; background-color:antiquewhite;opacity: inherit; height: 2mm;">
  
  {% for product in productss %}
<div class="card mb-3 my-5" style="width: 45%; display: inline-block;margin-left: 14mm; margin-bottom: 5mm;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/media/{{ product.image }}" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.Product_name }}</h5>
        <p class="card-text">Auther: {{ product.auther}}</p>
        <p class="card-text">Category: {{ product.category}}</p>
        <p class="card-text">Description:</br> {{ product.desc}}</p>
        <p class="card-text"><small class="text-muted">Publish Date: {{ product.publish_date}}</small></p>
        <a href="/media/{{ product.file }}"  stye = "display :  inline" class="btn btn-outline-primary">Add to Wishlist</a>
        <a href="/media/{{ product.file }}"  stye = "display :  inline" class="btn btn-outline-primary">Read Now</a>
        <a href="/media/{{ product.file }}" download="/media/{{ product.file }}" stye = "display :  inline" class="btn btn-outline-primary">Download Now</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<hr style="width:100%;text-align:left;margin-left:0; color:antiquewhite; background-color:antiquewhite; height: 10mm;">
</div>

{% endblock body %}
